<%= form_for(service) do |f| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :serviceimage %>
    <%= f.file_field :serviceimage, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :price %>
    <%= f.number_field :price, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :passendgerno %>
    <%= f.number_field :passendgerno, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :doorsno %>
    <%= f.number_field :doorsno, :class => "form-control" %>
  </div>

  <div class="form-group">
    <label>Automatic Transmission</label>
    <%= f.check_box :autotrans %>
  </div>

  <div class="form-group">
    <label>Lugagge</label>
    <%= f.check_box :luggage %>
  </div>

  <div class="form-group">
    <label>Air Conditioning</label>
    <%= f.check_box :aircon %>
  </div>

  <div class="form-group">
    <label>Power Steering</label>
    <%= f.check_box :powesteer %>
  </div>

  <div class="form-group">
    <label>Full fuel tank</label>
    <%= f.check_box :fueltankf %>
  </div>

<h4> Add Service Images</h4>
<p>Select images and upload them.</p>

  <div class="form-group">
    <label><i class="fa fa-upload" aria-hidden="true"></i> Upload service images.</label>
    <%= f.fields_for :photos, @service.photos do |f_photo| %>
      <%= f_photo.label :image, :class => 'col-sm-2 control-label' do %>
      
      <% end %>
      <div class="col-sm-10">
        <%= f_photo.file_field :image, multiple: true, :name=>'service[photos_attributes][][objpicture]', :class => 'form-control' %>
      </div>
    <% end %>
  </div>
  <br>

  

  <div class="form-group">
    <label>Select Service type:</label><br>
   <%= f.collection_select :servtype_ids, Servtype.all, :id, :name, {prompt: "Select Service type"}, 
    {class: "form-control", style: "width: 50%;"} %>
  </div>

  <div class="form-group" style="display: none;">
    <%= f.label :user_id %>
    <%= f.number_field :user_id, :value => "#{current_user.id}" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
