<style type="text/css">
	
	.btnrentvehicle {
	background-color: #D0021B;
	font-weight: 600;
	color: #ffffff;
	border-radius: 10px;
	}

	.btnrentvehicle:hover {
		background-color: #D0021B;
		font-weight: 600;
		color: #ffffff;
		border-radius: 10px;
	}

	.btnrentvehicle:hover {
		background-color: #D0021B;
		font-weight: 600;
		color: #ffffff;
		border-radius: 10px;
	}

</style>


<div class="container">
	<div class="row" style="margin-top: 40px;">
		<div class="col-lg-3">
			<img src="<%= @service.serviceimage %>" class="img-fluid">
		</div>
		<div class="col-lg-9">
			<div class="row">
				<div class="col-lg-12">
					<h5 style="color: #4A4A4A; font-size: 22px; font-weight: 500; margin-top: 10px;"><%= @service.name %></h5>
	    			<p style="font-weight: 600; color: #D0021B; font-size: 20px; margin-bottom: 10px;">
	    				GHC <%= @service.price %> <span style="font-size: 12px; font-weight: 400; color: #6B6B6B;">/ day</span></p>
				</div>
				<div class="col-lg-12">
					<p>
						<span style="font-size: 14px; color: #000000; font-weight: 500;">
						<img src="https://nikasemo-static.s3-us-west-2.amazonaws.com/dianimton-assets/web+assets/employees.png" width="16px;">
						<%= @service.passendgerno %> Pasengers
						</span>
						<span style="font-size: 14px; color: #000000; font-weight: 500; margin-left: 10px;">
						<img src="https://nikasemo-static.s3-us-west-2.amazonaws.com/dianimton-assets/web+assets/automatic-transmission.png" width="16px;">
						<% if @service.autotrans == true %>
						Automatic Transmission
						<% else %>
						Manual Transmission
						<% end %>
						</span>
						<span style="font-size: 14px; color: #000000; font-weight: 500; margin-left: 10px;">
						<img src="https://nikasemo-static.s3-us-west-2.amazonaws.com/dianimton-assets/web+assets/suitcases.png" width="16px;">
						
						<% if @service.luggage == true %>
						Luggage
						<% else %>
						<% end %>
						
						</span>
						<span style="font-size: 14px; color: #000000; font-weight: 500; margin-left: 10px;">
						<img src="https://nikasemo-static.s3-us-west-2.amazonaws.com/dianimton-assets/web+assets/fan.png" width="16px;">
						<% if @service.aircon == true %>
						Airconditioning
						<% else %>
						<% end %>
						
						</span>
					</p>
					<p>
						<span style="font-size: 14px; color: #000000; font-weight: 500;">
						<img src="https://nikasemo-static.s3-us-west-2.amazonaws.com/dianimton-assets/web+assets/car-door.png" width="16px;">
						<%= @service.doorsno %> doors
						</span>
						<span style="font-size: 14px; color: #000000; font-weight: 500; margin-left: 10px;">
						<img src="https://nikasemo-static.s3-us-west-2.amazonaws.com/dianimton-assets/web+assets/steering.png" width="16px;">
						<% if @service.powesteer == true %>
						Power Steering
						<% else %>
						<% end %>
						</span>
						<span style="font-size: 14px; color: #000000; font-weight: 500; margin-left: 10px;">
						<img src="https://nikasemo-static.s3-us-west-2.amazonaws.com/dianimton-assets/web+assets/fuel-station.png" width="16px;">
						<% if @service.fueltankf == true %>
						Fuel tank full
						<% else %>
						<% end %>
						</span>
					</p>
					<p>
						<a href=""  data-toggle="modal" data-target="#exampleModal" class="btn btnrentvehicle">Book Vehicle</a>
					</p>
				</div>
				<div class="col-lg-9">
					<div class="row" style="margin-top: 20px; margin-bottom: 40px;">

					<% @service.photos.each do |photo| %>
						<a href="<%= photo.objpicture %>" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 lbhove" style="margin-bottom: 20px;">
							<img src="<%= photo.objpicture %>" class="img-fluid">
		              	</a>
					<% end %>
					  
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
	</div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Rent Vehicle</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<form id="paymentForm">
      	<div class="form-group">
      		<label>Date of rental</label>
      		<input type="date" class="form-control" name="">
      	</div>
      	<div class="form-group">
      		<label>Date of return</label>
      		<input type="date" class="form-control" name="">
      	</div>
        <p>The vehicle you want to rent is Mercedes Benz S550. You will be charged 500 cedis every day. Petrol tank full.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" onclick="payWithPaystack()" class="btn btnrentvehicle">Confirm Rental</button>
      </div>
  	</form>
    </div>
  </div>
</div>

<script src="https://js.paystack.co/v1/inline.js"></script> 


<script type="text/javascript">
	// const paymentForm = document.getElementById('paymentForm');
	// paymentForm.addEventListener("submit", payWithPaystack, false);

	// function payWithPaystack() {
	//   e.preventDefault();
	//   let handler = PaystackPop.setup({
	//     key: 'pk_live_b79fd9db9454d240c2734ad0738ab03abc429a7e'
	//     ref: ''+Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
	//     // label: "Optional string that replaces customer email"
	//     onClose: function(){
	//       alert('Window closed.');
	//     },
	//     callback: function(response){
	//       let message = 'Payment complete! Reference: ' + response.reference;
	//       alert(message);
	//     }
	//   });
	//   handler.openIframe();
	// }

	function payWithPaystack() {
		console.log("OK");
		let handler = PaystackPop.setup({
		email: "admin@dianimton.com",
	    key: 'pk_live_1cc108547b4c91917c952c4485cf6aa3d111575c',
	    amount: 500 * 100,
      	currency: "GHS",
	    ref: ''+Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
	    // label: "Optional string that replaces customer email"
	    onClose: function(){
	      alert('Window closed.');
	    },
	    callback: function(response){
	      let message = 'Payment complete! Reference: ' + response.reference;
	      alert(message);
	    }
	  });
	  handler.openIframe();
	}
</script>


<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>

<p>
  <strong>Servtype:</strong>
  <%= @service.servtype_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @service.user_id %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
 -->