<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <% if @productorder.product %>
  <%= @productorder.product.name %>
  <% end %>
</p>

<p>
  <strong>Order email:</strong>
  <% if @productorder.user %>
  <%= @productorder.user.email %>
  <% end %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @productorder.amount %>
</p>

<p>
  <strong>Order paid Status:</strong>
  <%= @productorder.paid %>
</p>



<%= link_to 'Edit', edit_productorder_path(@productorder) %> |
<%= link_to 'Back', productorders_path %>
