<p id="notice"><%= notice %></p>

<h1>Serviceorders</h1>

<table>
  <thead>
    <tr>
      <th>Service</th>
      <th>User</th>
      <th>Amount</th>
      <th>Paid</th>
      <th>Addinfo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @serviceorders.each do |serviceorder| %>
      <tr>
        <td><%= serviceorder.service_id %></td>
        <td><%= serviceorder.user_id %></td>
        <td><%= serviceorder.amount %></td>
        <td><%= serviceorder.paid %></td>
        <td><%= serviceorder.addinfo %></td>
        <td><%= link_to 'Show', serviceorder %></td>
        <td><%= link_to 'Edit', edit_serviceorder_path(serviceorder) %></td>
        <td><%= link_to 'Destroy', serviceorder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Serviceorder', new_serviceorder_path %>
