<p id="notice"><%= notice %></p>

<h1>Prodorderfeedbacks</h1>

<table>
  <thead>
    <tr>
      <th>Productorder</th>
      <th>User</th>
      <th>Feedbacktxt</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prodorderfeedbacks.each do |prodorderfeedback| %>
      <tr>
        <td><%= prodorderfeedback.productorder_id %></td>
        <td><%= prodorderfeedback.user_id %></td>
        <td><%= prodorderfeedback.feedbacktxt %></td>
        <td><%= link_to 'Show', prodorderfeedback %></td>
        <td><%= link_to 'Edit', edit_prodorderfeedback_path(prodorderfeedback) %></td>
        <td><%= link_to 'Destroy', prodorderfeedback, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prodorderfeedback', new_prodorderfeedback_path %>
