<%= form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :productimage %>
    <%= f.file_field :productimage, :class => "form-control" %>
    <p style="margin-top: 20px;">
      <img id="imageforproduct" width="150px">
    </p>
  </div>


  <div class="form-group">
    <label>Select Category:</label><br>
   <%= f.collection_select :category_ids, Category.all, :id, :name, {prompt: "Select Category"}, 
    {class: "form-control", style: "50%"} %>
  </div>

   <br>
<h4> Add Product Images</h4>
<p>Select images and upload them.</p>

  <!-- <div class="form-group">
    <label><i class="fa fa-upload" aria-hidden="true"></i> Upload product images.</label>
    <%= f.fields_for :photos, @product.photos do |f_photo| %>
      <%= f_photo.label :image, :class => 'col-sm-2 control-label' do %>
      
      <% end %>
      <div class="col-sm-10">
        <%= f_photo.file_field :image, multiple: true, :name=>'product[photos_attributes][][objpicture]', :class => 'form-control' %>
      </div>
    <% end %>
  </div> -->


  <table class='table'>
    <thead>
    <tr>
      <th></th>
      <th>Image</th>
      <th>Preview</th>
    </tr>
  </thead>
  <tbody class='fields'>
    <%= f.simple_fields_for :photos do |builder| %>
      <%= render 'photo', f: builder %>
    <% end %>
  </tbody>
 </table>

  <div class="form-group">
   
    <%= link_to_add_row('Add Option', f, :photos, class: 'btn btn-sm btn-primary') %>
  </div>


  <div class="field" style="display: none;">
    <%= f.label :shop_id %>
    <%= f.number_field :shop_id, :value => "#{params[:shop_id]}" %>
  </div>

  <div class="field" style="display: none;">
    <%= f.label :user_id %>
     <%= f.number_field :user_id, :value => "#{current_user.id}" %>
  </div>

  <div class="actions" style="margin-top: 30px;">
    <%= f.submit "Add Products", :class => "btn btn-lg btn-success" %>
  </div>
<% end %>




<script type="text/javascript">

  document.getElementById("product_productimage").onchange = function () {
    var reader = new FileReader();

    reader.onload = function (e) {
        // get loaded data and render thumbnail.
        document.getElementById("imageforproduct").src = e.target.result;
    };

    // read the image file as a data URL.
    reader.readAsDataURL(this.files[0]);
  };

</script>











