<!DOCTYPE html>
<html>
  <head>
    <title>Dianimton | Goods and Shippings Services</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
        <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <script src="https://use.fontawesome.com/fc6d352727.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <style type="text/css">
          .navbackground {
  background-color: rgba(255,255,255, 1);
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.navbar-brand1 {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  text-decoration: none;
}

a.navbar-brand1 {
  color: #D0021B; 
}

a {
  text-decoration: none;
}




.navbar-light .navbar-brand1{

font-weight: 600;
}

.navbar-scroll{
color: #000; 
font-weight: 600;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: white;
}

.navbar-light .navbar-scroll:focus, .navbar-light .navbar-scroll:hover {
  color: #343a40;
}

.navbar-light .navbar-nav .nav-link {
  color: #D0021B;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  transition: background-color .5s ease-in-out;
    -webkit-transition: background-color .5s ease-in-out;
    -moz-transition: background-color .5s ease-in-out;
  border-bottom: 4px solid transparent;
}

.navlinkscroll{
  color: #343a40;
  
}

.navbar-light .navbar-nav .nav-link:focus {
  color: #f17100;
  font-weight: 700;
  /*border-bottom-color:#f17100;*/
}

 .navbar-light .navbar-nav .nav-link:hover {
  color: #D0021B;
  background-color: transparent;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 700;
  
}

.navbar-light .navbar-nav .nav-link.disabled {
  color: rgba(0, 0, 0, 0.3);
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: #D0021B;
  background-color: transparent;
  border: 3px solid #D0021B;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 700;
  margin-left: 20px;
}

.navbar-toggler {
  border: none;
  background: transparent !important;
}
.navbar-toggler:hover {
  background: transparent !important;
}
.navbar-toggler .icon-bar {
  display:block;
  background-color: #1b1464;
  width: 26px;
  height: 2px;
  transition: all 0.2s;
}
.navbar-toggler .icon-bar+.icon-bar{
  margin-top: 5px;
}
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggler .middle-bar {
  opacity: 0;
}
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 1rem 0 0;
  font-size: 14px;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: rgba(255, 255, 255, 1);
  background-clip: padding-box;
  border-radius: 0rem;
}

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}

.dropdown-item {
  display: block;
  width: 100%;
  height: 60px;
  padding: 1.25rem 1.5rem;
  clear: both;
 color: #000000;
  font-weight: 300;
  text-align: inherit;
  white-space: nowrap;
  background: none;
  border: 0;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #1b1464;
  font-weight: 500;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #e08d1e;
}

.dropdown-item.disabled, .dropdown-item:disabled {
  color: #f5b822;
  background-color: transparent;
}

.apppartner {
  background-color: #ffb900;
  color: #0b1936;
  font-size: 18px;
  border-radius: 0px;
  border: none;
}

.btnsearch {
  background-color: #D0021B;
  border-bottom: 2px solid #D0021B;
  color: #ffffff;
  border-radius: 0px;
}

.btnsearch:hover {
  background-color: #D0021B;
  border-bottom: 2px solid #D0021B;
  color: #ffffff;
  border-radius: 0px;
}

.btnsearch:active {
  background-color: #D0021B;
  border-bottom: 2px solid #D0021B;
  color: #ffffff;
  border-radius: 0px;
}

.textholder {
  text-align: center;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #9B9B9B;
            font-size: 13px;
            opacity: 0.4; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #9B9B9B;
            font-size: 13px;
            opacity: 0.4; /* Firefox */
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
            color: #9B9B9B;
            font-size: 13px;
            opacity: 0.4; /* Firefox */
 }

 .hometopmenumobile {
  display: none;
 }

 .submenumobile {
  display: none;
 }

@media only screen and (min-width : 100px) and (max-width : 600px) {
  .fht {
    margin-top: 30px;
  }

  a.navbar-brand1 {
    font-size: 16px;
    color: #ffffff;
  }

  .hidetopbarred {
    display: none;
  }

  .navbar-toggler {
    display: none;
  }

  .hometopmenumobile {
    display: block;
  }

  .submenumobile {
    display: block;
    background-color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.18);
-moz-box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.18);
box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.18);
  }

  .btnsearch {
    background-color: #f7af45;
  }

  .live__scroll {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.live__scroll .row{
  display: block;
}

.live__scroll .live__scroll--box2 {
  display: inline-block;
  float: none;
  background-color: #D0021B;
  border-radius: 15px;
  padding: 10px;
  margin-left: 15px;
  text-align: center;
} 

.navbar {
  background-color: #D0021B;
}

}
  </style>

  <body style="font-family: 'Montserrat', sans-serif; background-color: rgba(216,216,216,0.3);">

    <nav class="navbar navbar-light navbar-expand-lg navbackground dottt" style="z-index: 99;">
      <div class="container navbodyhold">
      <a class="navbar-brand1" href="/" style="font-family: 'Montserrat', sans-serif; text-decoration: none;">
      <img src="https://nikasemo-static.s3-us-west-2.amazonaws.com/dianimton-assets/web+assets/dinimlogotransparent.png" class="img-fluid" height="55px" width="42px">
      <span>Dianimton</span>
      </a>
      <p style="padding-top: 15px;" class="hometopmenumobile">
        <span style="color: #ffffff; font-weight: 400; font-size: 14px;">Hello, 
          <% if user_signed_in? %>
          <a href="" style="color: #ffffff; font-weight: 600; font-size: 14px;">Bernard</a></span>
          <% else %>
           <a href="/users/sign_in" style="color: #ffffff; font-weight: 600; font-size: 14px;">Login</a></span> 
          <% end %>

        <img src="https://nikasemo-static.s3-us-west-2.amazonaws.com/dianimton-assets/web+assets/acct.png" class="img-fluid" width="25px" height="25px" style="margin-left: 3px;">
      </p>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar top-bar"></span>
          <span class="icon-bar middle-bar"></span>
          <span class="icon-bar bottom-bar"></span>
        </button>
        <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar top-bar"></span>
          <span class="icon-bar middle-bar"></span>
          <span class="icon-bar bottom-bar"></span>
        </button> -->
        <div class="collapse navbar-collapse" id="navbarResponsive">

          <div class="row no-gutters">
            <div class="col-lg-10">
              <input class="form-control" style="width: 400px; border-radius: 0px; border: 2px solid #D0CCCC;" type="search" placeholder="Search" aria-label="Search">
            </div>
            <div class="col-lg-2">
              <button class="btn btnsearch" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
          </div>

         <!--  <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" style="width: 400px; border-radius: 50px; border: 2px solid #eaeaea;" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form> -->

          <ul class="navbar-nav ml-auto">

            <li class="nav-item">
              <a class="nav-link" id="changecolor2" href="#!"> 
                <img src="https://nikasemo-static.s3-us-west-2.amazonaws.com/dianimton-assets/web+assets/information+copy.png" width="16px;">
                Help
                <span class="sr-only">(current)</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" id="changecolor2" href="/users/sign_in"> 
                <img src="https://nikasemo-static.s3-us-west-2.amazonaws.com/dianimton-assets/web+assets/login+copy2.png" width="16px">
                Login
                <span class="sr-only">(current)</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" id="changecolor2" href="/ourproducts"> |
                <span class="sr-only">(current)</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" id="changecolor2" href="/users/sign_up"> 
                <img src="https://nikasemo-static.s3-us-west-2.amazonaws.com/dianimton-assets/web+assets/add-group+copy.png" width="16px">
                Register
                <span class="sr-only">(current)</span>
              </a>
            </li>

            

            
           
          
          </ul>
        </div>
      </div>
    </nav>
    <section class="hidetopbarred" style="padding-top: 12px; padding-bottom: 12px; padding-left: 50px; padding-right: 50px; margin-top: 0px; background-color: #D0021B;">
  <div class="row">
    <div class="col-lg-3">
      <div class="row">
        <div class="col-lg-4">
          <div class="textholder">
            <a href="/products" style="color: #ffffff; text-decoration: none; font-size: 14px; font-weight: 600;">
              Products
            </a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="textholder">
            <a href="/services" style="color: #ffffff; text-decoration: none; font-size: 14px; font-weight: 600;">
              Deals
            </a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="textholder">
            <a href="/services" style="color: #ffffff; text-decoration: none; font-size: 14px; font-weight: 600;">
              Services
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      
    </div>
    <div class="col-lg-3">
      <div class="row">
        <div class="col-lg-5">
          <div class="textholder">
            <a href="" style="color: #ffffff; text-decoration: none; font-size: 14px; font-weight: 400;">
              <img src="https://nikasemo-static.s3-us-west-2.amazonaws.com/dianimton-assets/web+assets/conversation+(1).png" width="18px">
              Requests
            </a>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="textholder">
            <% if user_signed_in? %>
            <a href="/homeprofile" style="color: #ffffff; text-decoration: none; font-size: 14px; font-weight: 400;">
              <img src="https://nikasemo-static.s3-us-west-2.amazonaws.com/dianimton-assets/web+assets/acct.png" width="18px">
              Accounts
            </a>
            <% else %>
            <a href="" style="color: #ffffff; text-decoration: none; font-size: 14px; font-weight: 400;">
              <img src="https://nikasemo-static.s3-us-west-2.amazonaws.com/dianimton-assets/web+assets/acct.png" width="18px">
              Accounts
            </a>
            <% end %>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="textholder">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="submenumobile">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-9">
         <div class="row no-gutters">
            <div class="col-lg-10 col-10">
              <input class="form-control" style="width: 100%; border-bottom-left-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 0px; border-bottom-right-radius: 0px;" type="search" placeholder="Search" aria-label="Search">
            </div>
            <div class="col-lg-2 col-2">
              <button class="btn btnsearch" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
          </div>
      </div>
      <div class="col-lg-2 col-3" style="text-align: center;">
        <a href="" style="color: #D0021B; text-decoration: none; text-align: center; font-size: 12px; font-weight: 400; margin-left: 3px;">
          
          <img src="https://nikasemo-static.s3-us-west-2.amazonaws.com/dianimton-assets/web+assets/conversation1.png" width="22px">
          <span>Requests</span>
        </a>
      </div>
    </div>
    <div class="live__scroll">
      <div class="row" style="margin-top: 15px;">
        <div class="col-3 live__scroll--box2">
          <a href="/products" style="color: #ffffff; font-size: 15px; font-weight: 500; text-decoration: none;">Products</a>
        </div>
        <div class="col-3 live__scroll--box2">
          <a href="/services" style="color: #ffffff; font-size: 15px; font-weight: 500; text-decoration: none;">Services</a>
        </div>
        <div class="col-3 live__scroll--box2">
          <a href="/cargohaulage" style="color: #ffffff; font-size: 15px; font-weight: 500; text-decoration: none;">Haulage</a>
        </div>
        <div class="col-3 live__scroll--box2">
          <a href="#!" style="color: #ffffff; font-size: 15px; font-weight: 500; text-decoration: none;">Tracking</a>
        </div>
        <div class="col-3 live__scroll--box2">
          <a href="/genservices/new" style="color: #ffffff; font-size: 15px; font-weight: 500; text-decoration: none;">General</a>
        </div>
      </div>
    </div>
  </div>
</section>

    <%= yield %>


     <style type="text/css">

  .btncontactform {
    background-color: #e08d1e;
    color: #ffffff;
    border: 1px solid #e08d1e;
    border-radius: 20px;
    margin-top: 15px;
  }

  .btncontactform:hover {
    background-color: #e08d1e;
    color: #ffffff;
    border: 1px solid #e08d1e;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.29);
-moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.29);
box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.29);
  }

  .btncontactform:active {
    background-color: #e08d1e;
    color: #ffffff;
    border: 1px solid #e08d1e;
    border-radius: 20px;
  }

  .foothead {
    font-size: 20px;
    color: #F51E38;
    font-weight: 600;
  }

  .ontopfooter {
    background-color: #D0021B;
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .innerpadff2 {
    padding-top: 10px;
    padding-left: 20px;
  }

  .innerpadff3 {
    height: 100%;
    width: 2px;
    background-color: #ffffff;
    margin-left: 40px;
  }

  @media only screen and (min-width : 100px) and (max-width : 600px) {
    .innerpadff2 {
    padding-top: 0px;
    padding-left: 0px;
  }

  .innerpadff3 {
    height: 100%;
    width: 2px;
    background-color: #ffffff;
    margin-left: 10px;
  }

  .mobilenamet {
    font-size: 12px;
  }

  .mobileimageicn {
    width: 30px;
  }

  .donloadtextmb {
    font-size: 12px;
  }

  }

</style>

<section class="ontopfooter">
  <div class="row">
    <div class="col-lg-7 col-7">
      <div class="row">
        <div class="col-lg-6">
          <div class="innerpadff1">
            <span style="color: #F9AE43; font-weight: 600; font-size: 18px;">Get the Latest from Us Always</span><br>
            <span style="color: #ffffff; font-weight: 300; font-size: 13px;">Keep in touch with us and get the latest deals from us  and save money!</span>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="innerpadff2">
            <div class="row no-gutters">
                <div class="col-lg-8 col-8">
                  <input class="form-control" style="width: 100% border-radius: 0px; border: 2px solid #D0CCCC;" type="search" placeholder="Enter your phone number" aria-label="Search">
                </div>
                <div class="col-lg-4 col-4">
                  <button class="btn btn-warning" type="submit" style="margin-left: 10px;">Sign Up</button>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-1 col-1">
      <div class="innerpadff3">
      </div>
    </div>
    <div class="col-lg-3 col-3">
      <div class="innerpadff1">
        <div class="row no-gutters">
          <div class="col-lg-2">
            <img src="https://nikasemo-static.s3-us-west-2.amazonaws.com/dianimton-assets/web+assets/phone.png" width="35px" class="mobileimageicn">
          </div>
          <div class="col-lg-10">
            <span style="color: #F9AE43; font-weight: 600; font-size: 18px;" class="mobilenamet">Dianimton App</span><br>
            <span><a href="https://play.google.com/store/apps/details?id=nikasemo.com.dianimton" target="_blank" style="color: #ffffff; text-decoration: none;" class="donloadtextmb">Download Now <i class="fa fa-chevron-right" aria-hidden="true"></i></a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


  <footer class="py-5 footerhide" style="background-color: #F9F3F3;">
      <div class="container">
        <div class="row">
        <div class="col-lg-3">
          <div class="innerfooter">
            <img src="https://nikasemo-static.s3-us-west-2.amazonaws.com/dianimton-assets/web+assets/dinimlogotransparent.png" style="width: 80px; margin-bottom: 10px;">
            <p style="color: #FA5A6E; font-size: 14px;">
              Dianimton is the worlds first platform that brings shippers products and services .
            </p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="innerfooter">
            <h4 class="foothead">Explore</h4>
             <ul style="list-style:none; padding-left:0; font-family: 'Montserrat', sans-serif; font-weight: 200; line-height: 28px;">
            <li><a href="/" style="color: #FA5A6E; font-weight: 300; font-size: 14px; text-decoration:none;">Home</a></li>
            <li><a href="/aboutus" style="color: #FA5A6E; font-weight: 300; font-size: 14px; text-decoration:none;">About Us</a></li>
            <li><a href="#!" style="color: #FA5A6E; font-weight: 300; font-size: 14px; text-decoration:none;">Services</a></li>
            <!-- <li><a href="/teams" style="color: #e08d1e; font-weight: 300; font-size: 16px; text-decoration:none;">Our Team</a></li> -->
            <li><a href="/ourprojects" style="color: #FA5A6E; font-weight: 300; font-size: 14px; text-decoration:none;">Projects</a></li>
            <li><a href="#!" style="color: #FA5A6E; font-weight: 300; font-size: 14px; text-decoration:none;">Blog</a></li>
            <li><a href="/contactus" style="color: #FA5A6E; font-weight: 300; font-size: 14px; text-decoration:none;">Contact</a></li>
            <% if user_signed_in? %>
            <li><%= link_to "Log Out", destroy_user_session_path, :method => :delete, :style => "color: #FA5A6E; font-weight: 300; font-size: 14px; text-decoration:none;" %></li>
            <li><a href="/dashboard" style="color: #FA5A6E; font-weight: 300; font-size: 14px; text-decoration:none;">Admin Dashboard</a>
            </li>
            <% else %>
            <li><a href="/users/sign_in" style="color: #FA5A6E; font-weight: 300; font-size: 14px; text-decoration:none;">Admin Login</a>
            </li>
            <% end %>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="innerfooter">
            <h4 class="foothead">Explore</h4>
             <ul style="list-style:none; padding-left:0; font-family: 'Montserrat', sans-serif; font-weight: 200; line-height: 28px;">
            <li><a href="/" style="color: #FA5A6E; font-weight: 300; font-size: 14px; text-decoration:none;">Home</a></li>
            <li><a href="/aboutus" style="color: #FA5A6E; font-weight: 300; font-size: 14px; text-decoration:none;">About Us</a></li>
            <li><a href="#!" style="color: #FA5A6E; font-weight: 300; font-size: 14px; text-decoration:none;">Services</a></li>
            <!-- <li><a href="/teams" style="color: #e08d1e; font-weight: 300; font-size: 16px; text-decoration:none;">Our Team</a></li> -->
            <li><a href="/ourprojects" style="color: #FA5A6E; font-weight: 300; font-size: 14px; text-decoration:none;">Projects</a></li>
            <li><a href="#!" style="color: #FA5A6E; font-weight: 300; font-size: 14px; text-decoration:none;">Blog</a></li>
            <li><a href="/contactus" style="color: #FA5A6E; font-weight: 300; font-size: 14px; text-decoration:none;">Contact</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="innerfooter">
             <h5 class="foothead">Address details</h5>
             <p style="color: #FA5A6E; font-size: 14px; font-family: 'Montserrat', sans-serif;">
              <span><i class="fa fa-envelope" aria-hidden="true"></i> Mailing Address</span><br>
              <span style="font-weight: 300; font-size: 12px;">P.O.Box SR 433,</span><br>
              <span style="font-weight: 300; font-size: 12px;">SR, Spintex Rd, Accra - Ghana</span>
             </p>
             <p style="color: #FA5A6E; font-size: 14px; font-family: 'Montserrat', sans-serif;">
              <span><i class="fa fa-map-marker" aria-hidden="true"></i> Office Location</span><br>
              <span style="font-weight: 300; font-size: 12px;">Dianimton, 2nd Floor Orkman Building, Ashaley Botwe Total Station, Little Junction, Accra.</span><br>
             </p>
             <p style="color: #FA5A6E; font-size: 14px; font-family: 'Montserrat', sans-serif;">
              <span><i class="fa fa-phone" aria-hidden="true"></i> Mobile: +233 (0)20 589 2863</span><br>
              <span><i class="fa fa-phone" aria-hidden="true"></i> Office: +233 (0)30 291 4048</span><br>
              <span><i class="fa fa-envelope" aria-hidden="true"></i> Email: hello@dianimton.com</span><br>
             </p>
             <span><a href="http://www.facebook.com/theglleaders" target="_blank"><i class="fa fa-2x fa-facebook-official" style="color: #D0021B; margin-right: 5px;" aria-hidden="true"></i></a></span>
             <span><a href="http://www.twitter.com/theglleaders" target="_blank"><i class="fa fa-2x fa-twitter-square" style="color: #D0021B; margin-right: 5px;" aria-hidden="true"></i></a></span>
             <span><a href="http://www.instagram.com/theglleaders" target="_blank"><i class="fa fa-2x fa-instagram" style="color: #D0021B; margin-right: 5px;" aria-hidden="true"></i></a></span>
             <span><a href="https://www.linkedin.com/company/thegracedlifeleadershipcentre" target="_blank"><i class="fa fa-2x fa-linkedin-square" style="color: #D0021B; margin-right: 5px;" aria-hidden="true"></i></a></span>
          </div>
        </div>
        
      </div>
      
      </div>
      <!-- /.container -->
    </footer>

    <div class="row" style="margin-top: 10px; background-color: #ffffff; color: #aeaeae; font-size: 14px;">
        <div class="col-sm-12" style="padding: 20px;">
        <p class="m-0 text-center" style="font-family: 'Montserrat', sans-serif;">Copyright &copy; Dianimton, 2020</p>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>

       <script type="text/javascript">
          $(document).on('click', '[data-toggle="lightbox"]', function(event) {
              event.preventDefault();
              $(this).ekkoLightbox();
          });
      </script>
           
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
          AOS.init();
        </script>
  </body>
</html>
